ebody {
    background-color: #f5f5dc; /* Light beige background */
    font-family: Arial, Helvetica, sans-serif;
    font-style: oblique;
    margin: 0;
    padding: 0;
}

h1 {
    color: #4a4a4a; /* Neutral dark gray for readability */
}

.hide {
  display: none;
}

.myDIV:hover + .hide {
  display: block;
  color: red;
}

.timeline {
    margin: 30px auto;
    max-width: 800px;
    padding: 20px;
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.timeline-item {
    margin-bottom: 20px;
    padding: 10px 15px;
    border-left: 3px solid #007bff; /* Blue line for the timeline */
}

.timeline-item h3 {
    margin: 0 0 5px;
    color: #333333;
}

.timeline-item p {
    margin: 0;
    color: #555555;
}

/* Button Styles */
button {
    display: inline-block;
    outline: 0;
    border: 0;
    cursor: pointer;
    transition: box-shadow 0.15s ease,transform 0.15s ease;
    will-change: box-shadow,transform;
    background: #FCFCFD;
    box-shadow: 0px 2px 4px rgb(45 35 66 / 40%), 0px 7px 13px -3px rgb(45 35 66 / 30%), inset 0px -3px 0px #d6d6e7;
    height: 40px;
    padding: 0 32px;
    font-size: 18px;
    border-radius: 6px;
    color: #36395a;
    transition: box-shadow 0.15s ease,transform 0.15s ease;
    :hover {
        box-shadow: 0px 4px 8px rgb(45 35 66 / 40%), 0px 7px 13px -3px rgb(45 35 66 / 30%), inset 0px -3px 0px #d6d6e7;
        transform: translateY(-2px);
    }
    :active{
        box-shadow: inset 0px 3px 7px #d6d6e7;
        transform: translateY(2px);
}
                            

button:hover {
    box-shadow: 0 8px 22px 0 rgb(37 44 97 / 35%), 0 4px 6px 0 rgb(93 100 148 / 50%);
}



.polaroid {
    position: relative;
    width: 220px;
    margin: 20px auto;
}

.polaroid img {
    border: 10px solid #fff;
    border-bottom: 45px solid #fff;
    box-shadow: 3px 3px 3px #777;
}

.polaroid p {
    position: absolute;
    text-align: center;
    width: 100%;
    bottom: 0;
    font: 400 18px/1 'Kaushan Script', cursive;
    color: #888;
}

.24th {
    position: relative;
    width: 220px;
    margin: 20px auto;
}

.24th img {
    border: 10px solid #fff;
    border-bottom: 45px solid #fff;
    box-shadow: 3px 3px 3px #777;
}

.24th p {
    position: absolute;
    text-align: center;
    width: 100%;
    bottom: 0;
    font: 400 18px/1 'Dancing Script', cursive; /* Updated font-family */
    color: #888;
}

